@import "tailwindcss";

.custom-audio {
  height: 32px;
  border-radius: 4px;
}

.custom-audio::-webkit-media-controls-panel {
  background-color: #2a2a2a;
}

.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display {
  color: #ccc;
}
